/* HEADERS */
h1 {
    /* FONT */
    font: var(--font-title);

    /* SIZE */
    font-size: var(--font-size-xl);
    letter-spacing: 6px;

    /* COLOR */
    color: var(--primary-1);
}

h2 {
    /* FONT */
    font: var(--font-title);

    /* SIZE */
    font-size: var(--font-size-l);
    letter-spacing: 4px;

    /* COLOR */
    color: var(--primary-2);
}

h3 {
    /* FONT */
    font: var(--font-title);

    /* SIZE */
    font-size: var(--font-size-m);
    letter-spacing: 3px;

    /* COLOR */
    color: var(--primary-3);
}

/* LINKS */
a {
    color: var(--primary-1);
    font-weight: 500;
    text-align: center;
}

a:visited {
    color: var(--primary-1)
}

a:hover {
    font-weight: 900;
}

a.secret-link {
    text-decoration: none;
}

p {
    margin-top: var(--padding-xs);
    margin-bottom: var(--padding-xs);
}

/* LOGO */
pre.logo {
    font-size: var(--logo-size);
    line-height: var(--logo-height);
    color: var(--primary-1);
    margin-left: var(--padding-m);
    margin-right: var(--padding-m);
}

/* DEFAULT */
:root {
    /* FONT */
    font: var(--font-paragraph);

    /* SIZE */
    font-size: var(--font-size-s);

    /* COLOR */
    color: var(--primary-3);
}