@media (prefers-color-scheme: dark) {
    :root {
        --background-1: #010305;
        --background-2: #03090f;
        --background-3: #050e18;
        --primary-1: #bbddff;
        --primary-2: #97b8da;
        --primary-3: #7c9dbe;
        --scanlines-file: url("/img/bg-scanlines.png")
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-1: #cae4ff;
        --background-2: #b7d0eb;
        --background-3: #a6c0db;
        --primary-1: #000;
        --primary-2: #0c0c0c;
        --primary-3: #111111;
        --scanlines-file: url("/img/bg-scanlines-light.png")
    }
}

:root {
    --font-title: 28px "Workbench", monospace;
    --font-paragraph: 14px "DM Mono", monospace;

    --border-radius: 30px;
    --padding-xs: 6px;
    --padding-s: 12px;
    --padding-m: 24px;
    --padding-l: 32px;

    --font-size-xl: 36px;
    --font-size-l: 28px;
    --font-size-m: 20px;
    --font-size-s: 14px;

    --logo-size: 3px;
    --logo-height: 4px;
}

@media (min-width: 1000px) {
    :root {
        --font-title: 32px "Workbench", monospace;
        --font-paragraph: 16px "DM Mono", monospace;

        --border-radius: 40px;
        --padding-xs: 8px;
        --padding-s: 16px;
        --padding-m: 32px;
        --padding-l: 48px;
    
        --font-size-xl: 48px;
        --font-size-l: 32px;
        --font-size-m: 24px;
        --font-size-s: 16px;

        --logo-size: 5px;
        --logo-height: 6px;
    }
}

@media (min-width: 1800px) {
    :root {
        --font-title: 32px "Workbench", monospace;
        --font-paragraph: 16px "DM Mono", monospace;

        --border-radius: 50px;
        --padding-xs: 10px;
        --padding-s: 20px;
        --padding-m: 40px;
        --padding-l: 60px;
    
        --font-size-xl: 60px;
        --font-size-l: 48px;
        --font-size-m: 28px;
        --font-size-s: 20px;

        --logo-size: 6px;
        --logo-height: 7.5px;
    }
}