
/* PRIMARY CONTAINER */
div.container1 {
    /* LAYOUT */
    display: flex;
    flex-direction: column;
    
    /* BACKGROUND */
    border-radius: var(--border-radius);
    background-color: var(--background-3);
}

div.container2 {
    /* LAYOUT */
    display: flex;
    flex-direction: column;
    
    /* BACKGROUND */
    border-radius: var(--border-radius);
    background-color: var(--background-2);

}

/* COLOR OVERLAY */
div.scanlines {
    background-image: var(--scanlines-file);
    background-repeat: repeat;
    border-radius: var(--border-radius);
    height: 100%;
}